* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {

    font-size: 62.4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(241, 237, 237);

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {

    width: 80%;
    height: 700px;
    margin: 40px auto;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .parent_1{

    width: 80%;
    padding: 30px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .parent_1 h1{

    font-size: 40px;
    text-align: center;
}

.container .parent_1 button{

    width: 120px;
    height: 40px;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    background-color: rgb(99, 94, 94);
}

.container .parent_1 button:hover{

    background-color: black;
}

.container form {

    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container form input {

    height: 40px;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 6px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.container form input:active {

    background-color: rgb(204, 204, 204);
}

.container form select {

    height: 40px;
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 6px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.container form label {

    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}

.container form .submit {

    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(99, 94, 94);

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form .submit:hover {

    background-color: black;
}


@media (max-width: 1024px) {


    .container {

        height: 650px;
        margin: 20px auto;
    }

}

@media (max-width: 425px) {


    .container {

        width: 95%;
    }

}